<h1>Edit existing article</h1>
<% if @article.errors.any? %>
<ul>
    <% @article.errors.full_messages.each do |error| %>
    <li><%= error %></li>
</ul>
    <% end %>
<% end %>
<% @article.inspect    %>
<%=  form_for @article do |f| %>
   <p> 
   <%= f.label :title %>
   <%= f.text_field :title %>
   </p>   
   <p>
    <%= f.label  "description" %><br>
    <%= f.text_area :description %>
   </p>
   <%= f.submit "Edit Article" %>
    
    
<% end %>
  <%= link_to "Show All Articles", articles_path %>
